<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question_text %>
</p>

<%= link_to 'Submit a response to this question', new_question_response_path(@question, :question_id => @question.id), class: "btn btn-success" %>
<br>
<%= link_to 'Back', questions_path, class: "btn btn-default" %>