<h1>Responses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Response<th>
      <th>Submitted By</th>
    </tr>
  </thead>

  <tbody>
    <% if @question.responses %>
      <% @question.responses.each do |r| %>
        <tr>
          <td><%= r.question.question_text %></td>
          <td><%= r.response_text %></td>
          <td><%= r.user.email %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%# <%= link_to 'New Response', new_question_response_path, class: "btn btn-success" %>